#block-datetime {
  background: #1c83c1;
  border-radius: 30px;
}

#datetime-wrapper {
  display: flex;
  flex-flow: wrap;
  flex-direction: column;
  text-align: center;
  color: black;
  font-size: x-large;
}

#date {
  order: 1;
}

#time {
  order: 2;	
}